#debugbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

#debugbar *,
#debugbar ::after,
#debugbar ::before {
    box-sizing: unset;
}

#debugbar a {
    color: magenta;
    text-decoration: none;
}

#debugbar p {
    margin-top: 0;
    margin-bottom: 1rem;
}

#debugbar pre {
    background: #000;
    color: #eee;
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border: 1px solid #222;
    border-radius: 4px;
}

#debugbar button {
    background-color: transparent;
    color: #fff;
    border: 1px solid transparent;
    font-size: 14px;
    border-radius: 4px;
    padding: 3px 5px;
    height: 11px;
    line-height: 11px;
}

#debugbar button:hover {
    background-color: #eee;
    color: #000;
    border: 1px solid #eee;
    cursor: pointer;
}

#debugbar button.active {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

#debugbar select {
    background-color: transparent;
    color: #fff;
    border: 1px solid #111;
    font-size: 14px;
    padding: 3px 5px;
    height: 14px;
    line-height: 14px;
}

#debugbar select:hover {
    cursor: pointer;
}

#debugbar ul {
    padding-left: 15px;
}

#debugbar .panels {
    background: #000;
    position: fixed;
    bottom: 43px;
    left: 0;
    width: 100%;
    z-index: 999;
}

#debugbar .panels .panel {
    display: none;
}

#debugbar .panels .panel .contents > * {
    display: none;
}

#debugbar table {
    margin-top: 0;
    margin-bottom: 1rem;
    border-collapse: collapse;
    color: #eee;
    width: 100%;
    text-align: left;
    table-layout: fixed;
}

#debugbar table,
#debugbar th,
#debugbar td {
    border: 1px solid #111;
}

#debugbar td,
#debugbar th {
    padding: 5px;
}

#debugbar th {
    color: #fff;
    background: #000;
}

#debugbar tr:hover {
    background: #111;
}

#debugbar .panels header {
    background-color: #000;
    border-bottom: 1px solid #111;
    border-top: 1px solid #111;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
}

#debugbar .panels header .title {
    float: left;
    color: #fff;
    font-weight: bold;
}

#debugbar .panels header .actions {
    margin-left: auto;
}

#debugbar .panels header .instances {
    margin-left: 5px;
}

#debugbar .panels .contents {
    height: 250px;
    padding: 10px;
    overflow: auto;
}

#debugbar .panels .contents a:hover {
    text-decoration: underline;
}

#debugbar .toolbar {
    background-color: #000;
    border-top: 1px solid #111;
    border-right: 1px solid #111;
    box-shadow: rgba(255, 255, 255, .25) 0 2px 5px 0;
    height: 42px;
    line-height: 42px;
    padding: 0 5px 0 5px;
    z-index: 1000;
    display: flex;
    align-items: center;
    position: sticky;
}

#debugbar .toolbar .icon {
    display: inline;
    cursor: pointer;
}

#debugbar .toolbar .collectors {
    display: flex;
    align-items: center;
    width: 100%;
}

#debugbar .toolbar .collectors .collector {
    margin-left: 5px;
}

#debugbar .toolbar .collectors .info {
    margin-left: auto;
}
