.aplus-debug {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

.aplus-debug *,
.aplus-debug ::after,
.aplus-debug ::before {
    box-sizing: unset;
}

.aplus-debug h1,
.aplus-debug h2,
.aplus-debug h3,
.aplus-debug h4,
.aplus-debug h5,
.aplus-debug h6 {
    color: #fff;
    margin: 0 0 10px 0;
}

.aplus-debug a {
    color: magenta;
    text-decoration: none;
}

.aplus-debug p {
    margin-top: 0;
    margin-bottom: 10px;
}

.aplus-debug hr {
    background: #222;
    border: 0;
    height: 1px;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.aplus-debug pre {
    background: #000;
    color: #eee;
    padding: 16px;
    margin: 0;
    overflow: auto;
    border: 1px solid #222;
    border-radius: 4px;
}

.aplus-debug :not(td) > pre {
    margin-bottom: 10px;
}

.aplus-debug :not(pre) > code {
    background: #222;
    color: inherit;
    padding: 3px;
    border-radius: 4px;
}

.aplus-debug button {
    background-color: transparent;
    color: #fff;
    border: 1px solid transparent;
    font-size: 14px;
    border-radius: 4px;
    padding: 3px 5px;
    height: 11px;
    line-height: 11px;
}

.aplus-debug button:hover {
    background-color: #eee;
    color: #000;
    border: 1px solid #eee;
    cursor: pointer;
}

.aplus-debug button.active {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

.aplus-debug select {
    background-color: transparent;
    color: #fff;
    border: 1px solid #222;
    font-size: 14px;
    padding: 3px 5px;
    height: 16px;
    line-height: 16px;
}

.aplus-debug select:hover {
    cursor: pointer;
}

.aplus-debug ul {
    padding-left: 15px;
}

.aplus-debug .panels {
    background: #000;
    position: fixed;
    bottom: 43px;
    left: 0;
    width: 100%;
    z-index: 999;
}

.aplus-debug .panels .panel {
    display: none;
}

.aplus-debug .panels .panel .contents > * {
    display: none;
}

.aplus-debug .panels .panel .resize {
    cursor: ns-resize;
    width: 100%;
    height: 1px;
    background: #222;
}

.aplus-debug table {
    margin-top: 0;
    margin-bottom: 10px;
    border-collapse: collapse;
    color: #eee;
    width: 100%;
    text-align: left;
    table-layout: auto;
}

.aplus-debug table,
.aplus-debug th,
.aplus-debug td {
    border: 1px solid #222;
}

.aplus-debug td,
.aplus-debug th {
    padding: 8px;
}

.aplus-debug th {
    color: #fff;
    background: #000;
}

.aplus-debug thead th {
    border-bottom: 2px solid #222;
}

.aplus-debug tbody th {
    border-right: 2px solid #222;
}

.aplus-debug tr:hover {
    background: #111;
}

.aplus-debug tr.active {
    background: #333;
}

.aplus-debug .panels header {
    background-color: #000;
    border-bottom: 1px solid #222;
    border-top: 1px solid #222;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
}

.aplus-debug .panels header .title {
    float: left;
    color: #fff;
    font-weight: bold;
}

.aplus-debug .panels header .actions {
    margin-left: auto;
}

.aplus-debug .panels header .collectors {
    margin-left: 5px;
}

.aplus-debug .panels .contents {
    height: 250px;
    padding: 10px;
    overflow: auto;
}

.aplus-debug .panels .contents a:hover {
    text-decoration: underline;
}

.aplus-debug .toolbar {
    background-color: #000;
    border-top: 1px solid #222;
    border-right: 1px solid #222;
    box-shadow: rgba(255, 255, 255, .25) 0 2px 5px 0;
    height: 42px;
    line-height: 0;
    padding: 0 5px 0 5px;
    z-index: 1000;
    display: flex;
    align-items: center;
    position: sticky;
}

.aplus-debug .toolbar .icon {
    display: inline;
    cursor: pointer;
}

.aplus-debug .toolbar .collections {
    display: flex;
    align-items: center;
    width: 100%;
}

.aplus-debug .toolbar .collections .collection {
    margin-left: 5px;
}

.aplus-debug .toolbar .collections .info {
    margin-left: auto;
}

.aplus-debug.inverted {
    filter: invert(1);
}
